<div class="mainContainer">
  <div class="settingsContainer">
    <div class="modelContainer">
      <h3>Model: {{model}}</h3>
      <select [(ngModel)]="model">
        <option value="gpt-3.5-turbo">gpt-3.5-turbo</option>
        <option value="gpt-3.5-turbo-16k">gpt-3.5-turbo-16k</option>
        <option value="gpt-3.5-turbo-16k-0613">gpt-3.5-turbo-16k-0613</option>
        <option value="gpt-3.5-turbo-0301">gpt-3.5-turbo-0301</option>
        <option value="gpt-3.5-turbo-0613">gpt-3.5-turbo-0613</option>
      </select>
    </div>
    
    <div class="temperatureContainer">
      <h3>Temperature: {{temperature}}</h3>
      <input type="range" min="0" max="1" value="0" step="0.1" class="custom-range" id="myRange" [(ngModel)]="temperature">
    </div>

    <div class="maximunLengthContainer">
      <h3>Max Tokens: {{maxLength}}</h3>
      <input type="range" min="1" max="1000" value="1" class="custom-range" id="myRange" [(ngModel)]="maxLength">
    </div>
  </div>
  <div class="mainChatContainer">
    <div class="chat-container">
      <div *ngFor="let conversation of conversations" class="message">
        <div *ngIf="conversation.quest" class="quest">
          <p [innerHTML]="conversation.quest"></p>
        </div>
        <div *ngIf="conversation.answer" class="answer">
          <p [innerHTML]="conversation.answer"></p>
        </div>
      </div>
    </div>
    <div class="infoContainer">
      <h2 class="tittleContainer">J A R V I S</h2>
      <h2>Powered by OpenAi API <br/>Made by Santiago MejIa</h2>
      <p>Version 1.0.0</p>
    </div>
    
    <div class="input-container">
      <!-- <textarea class="textInput" placeholder="Send a message" [(ngModel)]="inputText"></textarea> -->
      <div  contenteditable="plaintext-only"  class="input-div" [(ngModel)]="inputText"  #editableDiv (input)="onInput($event)"></div>
      <span class="placeholder-text">Escribe aquí...</span>
      <button class="input-button">
        <img [src]="'../../../assets/micButton.svg'" alt="SVG Button" />
      </button>
      <button class="input-button" (click)="sendQuest()">
        <img [src]="'../../../assets/sendButton.svg'" alt="SVG Button" />
      </button>
    </div>
    

</div>